@import "src/styles/theme";

.card {
  position: relative;
  overflow: hidden;
  border-radius: $card-b-radius;
}

.cooldown {
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  background-color: rgba($body-bg, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  backdrop-filter: blur(4px);
  // transform: scale(2);
  // overflow: hidden;
}
