load-testing/
/*/test
.DS_Store
.git
.github
.husky
.next
coverage
.next
out
dist
node_modules
packages/infrastructure/cdk.out
docker-compose*.yml
/Dockerfile.*
lerna.json
LICENSE
README.md
.prettierrc
.prettierignore
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions