.git
.next
node_modules
infrastructure/cdk.out
docker-compose.yml
Dockerfile
LICENSE
README.md
.prettierrc
.prettierignore
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions