@use "./theme.scss" as theme;
@use "sass:meta";
@import "./theme.scss";

@mixin add-css-variables($module) {
  :root {
    @each $name, $value in $module {
      --#{$name}: #{$value};
    }
  }
}

$theme: meta.module-variables("theme");
/* 
  Convert sass variables to css variables.
  CSS Variables are way easier to use than sass variables when it comes to adaptive design,
  because they are processed at runtime.
*/
@include add-css-variables($theme);

:root {
  /* Global css variables */
  --page-width: calc(100% - 2 * var(--padding));
  --bottom-margin: calc(
    var(--padding) + var(--menu-height) + var(--menu-bottom)
  );

  /* Antd mobile style overrides */
  --adm-color-primary: #{$color-purple-primary} !important;
  --adm-color-background: #{$body-bg} !important;
  --adm-font-size-main: 16px;
  --adm-color-text: #{$color-white} !important;
  --adm-font-family: "D-DIN Pro", sans-serif !important;
  --adm-font-size-2: 16px !important;
  .adm-progress-bar-fill {
    background: $gradient-primary !important;
  }
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $color-white;
  // this will probably be required for prod, to make sure we never have an overflow and a scrollbar
  // overflow: hidden;
}

#__main {
  height: 100%;
  max-width: $max-page-width;
  position: relative;
}

#__grid,
#__grid-loading {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0.5;
  z-index: -1;
}

#__grid-loading {
  z-index: 0;
  filter: invert(1) brightness(0.6);
}

body {
  background-color: $body-bg;
  color: $color-white;
  font-family: "D-DIN Pro", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--padding-inner) 0;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

@media screen and (max-width: 400px), (max-height: 720px) {
  :root {
    --padding: 10px;
    --padding-inner: 10px;
    --tap-ring-width: 5px;
  }

  p {
    font-size: 14px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
}
