@import "src/styles/theme.scss";

.levelInfo {
  display: flex;
  min-width: 250px;
  flex-direction: column;
  color: var(--color-white);
}

.levelInfo h3 {
  margin-bottom: calc(var(--padding) / 2);
  font-size: 18px;
}

.level {
  margin-top: calc(var(--padding) / 2);
  display: flex;
  justify-content: space-between;
}
