@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/kumbh/kumbhsans-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'D-DIN Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/ddinpro/D-DIN-PRO-400-Regular.otf') format('opentype');
  }
  