// dimensions
$padding: 14px;
$padding-menu: 11px;
$menu-bottom: 34px;
$menu-height: 83px;
$header-height: 97px;


$primary: #f9b804;
$primary-color-lighter: #fad305;
$primary-color-darker: #f58531;
$secondary: #5aace8;
$input-bg: #fff;
$accordion-bg: #fff;
$body-color: #444444;
$link-color: $primary-color-darker;
$link-shade-percentage: 20%;
$link-hover-color: $primary-color-lighter;
