@import "styles/theme.scss";

.build {
  padding: var(--padding);
  padding-bottom: var(--bottom-margin);
}

.builds {
  display: flex;
  gap: var(--padding-inner);
  flex-direction: column;
}

.buildPopup {
  box-sizing: border-box;
  padding: var(--padding);
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--popup-b-radius);
}

.comboPopup {
  padding: var(--padding);
  text-align: center;
  box-sizing: border-box;
  border-radius: var(--popup-b-radius);
}

.tabBar {
  margin: calc(var(--padding-inner) * 2) 0 var(--padding-inner) 0;
}

// flex container inside the tab bar
.tabBar > div {
  gap: calc(var(--padding-inner) / 2);
}

.tab {
  border-radius: var(--card-b-radius);
  flex: 0;
  padding: 0 calc(var(--padding-inner) / 1.5);
  color: var(--color-white) !important;
  font-size: 20px;
  font-weight: bold;
}

.tabActive {
  background-color: var(--color-menu-active);
}

.tab p {
  margin: 0;
}
