.earn {
  padding: var(--padding);
  padding-bottom: var(--bottom-margin);
}

.link {
  text-decoration: none;
  color: var(--color-white);
}

.taskList {
  display: flex;
  gap: var(--padding-inner);
  flex-direction: column;
}

.earnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--padding-inner);
}

.popup h2,
.popup p {
  margin: 0;
}

.coin {
  width: 96px;
  height: 96px;
}

@media (min-width: 768px) {
  .coin {
    width: 128px;
    height: 128px;
  }
}

@media (max-width: 400px) {
  .coin {
    width: 64px;
    height: 64px;
  }
}
