.home {
  position: relative;
  height: calc(100%);
  top: calc(-1 * var(--header-height));
}

.tap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: calc(
    var(--tap-ring-diameter) + var(--tap-ring-width) * var(--tap-rings-number)
  );
}

.footer {
  position: absolute;
  bottom: calc(var(--padding-inner) + var(--menu-bottom) + var(--menu-height));
  left: 0;
  right: 0;
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  position: relative;
  top: var(--header-height);
  padding: var(--padding);
}

.tapCounterWrapper {
  position: absolute;
  height: calc(
    var(--tap-ring-diameter) + var(--tap-ring-width) * var(--tap-rings-number)
  );
  text-align: center;
  width: 100%;
}
