@import "src/styles/theme.scss";

.main {
  position: relative;
  left: 0;
  right: 0;
  height: calc(var(--tap-ring-diameter) + var(--tap-ring-width) * 2);
  width: 100%;
  touch-action: none;
  --scale-ring-2: var(--tap-ring-scale);
  --scale-ring-3: calc(var(--tap-ring-scale) + var(--tap-ring-scale) - 1);
}

.tapped {
  // Using globals is not perfect, but that is the simplest solution I can think of at the moment.
  // If we limit globals to occasional ids, if shoudln't be a problem.
  :global(#tap-ring3),
  :global(#tap-ring2) {
    transition: none;
    opacity: 0.5;
  }
  :global(#tap-ring2) {
    transform: translate(-50%, -50%) scale(var(--scale-ring-2));
  }
  :global(#tap-ring3) {
    transform: translate(-50%, -50%) scale(var(--scale-ring-3));
  }
}

.hero {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--coco-size);
  height: var(--coco-size);
  max-width: var(--coco-size-max);
  max-height: var(--coco-size-max);
}

.moon,
.cloud1,
.cloud2 {
  position: absolute;
  z-index: 10;
}

.moon {
  right: var(--padding);
  top: 0;
  transform: translateY(-75%);
}

.cloud1 {
  right: 75%;
  width: 256px;
  height: auto;
}

.cloud2 {
  left: var(--tap-ring-diameter);
  top: 50%;
}
