.dailyReward {
  --specialImageSize: 100px;
  --rewardsPerRow: 4;
  width: calc(
    (100% / var(--rewardsPerRow)) - calc(var(--padding-inner) / 4)
  ) !important;
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-inner) calc(var(--padding-inner) / 4);
  height: 100px;
}

.dailyReward.special {
  width: calc(((100% / var(--rewardsPerRow)) * 2)) !important;
  flex-direction: row;
  padding: var(--padding-inner);
}

.special > span {
  z-index: 1;
  position: relative;
  align-self: flex-end;
  margin-left: auto;
  margin-right: var(--specialImageSize);
  max-width: 140px;
}

.special .text {
  align-self: flex-start;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 2;
  height: 100%;
}

.specialRewardImage {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: var(--specialImageSize);
  width: var(--specialImageSize);
  z-index: 1;
  overflow: hidden;
  scale: 0.8;
  z-index: 1;
}

.specialRewardBg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(var(--specialImageSize) * 1.5);
  background-image: linear-gradient(
    -90deg,
    opacify(var(--body-bg), 40%),
    var(--body-bg) 100%
  );
  z-index: 1;
}
