@import "src/styles/theme";

@keyframes shake-no {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  60%,
  80% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  70%,
  90% {
    transform: translateX(3px);
  }
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: var(--card-b-radius);
  background-color: $card-bg-color;
  padding: var(--padding-inner);
  display: flex;
  gap: var(--padding-inner);
  border: $card-border;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  box-sizing: border-box;
}

.card.default {
  background: $card-gradient;
}

.card.special {
  background: $card-gradient-secondary;
}

.card.special:active {
  background: $card-gradient-secondary-active;
}

.card.special.nonInteractive:active {
  background: $card-gradient-secondary;
}

.card.cardOnCooldown:active {
  background: $card-gradient;
  animation: shake-no 0.5s;
}

.card.special.card.cardOnCooldown:active {
  background: $card-gradient-secondary;
}

.card:active {
  background: $card-gradient-active;
}

.card.nonInteractive:active {
  background: $card-gradient;
}

.cooldown {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($body-bg, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  backdrop-filter: blur(1px);
  user-select: none;
}

.card.cardDisabled {
  background: $body-bg;
  border: 1px solid $color-white;
}

.card.cardDisabled:active {
  background: $body-bg;
}

.cardDisabled.card.nonInteractive:active {
  background: $body-bg;
}
