@import "src/styles/theme.scss";

.build {
    padding: $padding;
    padding-bottom: $padding + $menu-height + $menu-bottom;
}

.buildPopup {
    box-sizing: border-box;
    padding: $padding;
    width: 100%;
    min-height: 40vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: $popup-b-radius;
}

.comboPopup {
    padding: $padding;
    text-align: center;
    box-sizing: border-box;
    border-radius: $popup-b-radius;
}

.tabBar {
    margin: $padding-inner * 2 0 $padding-inner 0;
}

// flex container inside the tab bar
.tabBar > div {
    gap: $padding-inner / 2;
}

.tab {
    border-radius: $card-b-radius;
    flex: 0;
    padding: 0 $padding-inner / 1.5;
    color: $color-white !important;
    font-size: 20px;
    font-weight: bold;
}

.tabActive {
    background-color: $color-menu-active;
}

.tab p {
    margin: 0;
}