@import "src/styles/theme";

$REWARDS_PER_ROW: 4;

.dailyRewards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $padding;
    padding-top: 0;
    flex-direction: column;
    width: calc(100% - $padding * 2);
    padding-bottom: $menu-height + $menu-bottom + $padding;
    height: calc(100vh - $menu-height - $menu-bottom - $padding); /* Fallback for older browsers */
    height: calc(100svh - $menu-height - $menu-bottom - $padding);
}

.weeks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: calc(100vw - $padding-inner * 2);
    transform: translateX(-1 * calc($padding - $padding-inner));
    gap: $padding-inner;
    margin-bottom: $padding-inner;
    align-self: flex-start;
}

.weeks::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: $color-white;
    top: 50%;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.week h2 {
    margin: 0;
}

.rewardList {
    display: flex;
    flex-direction: column;
    gap: $padding-inner / 2;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: $card-b-radius;
    background-color: $card-bg-color;
    padding: $padding-inner / 2;
}

.rewardRow {
    display: flex;
    gap: $padding-inner / 2;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: $padding-inner;
    background-image: linear-gradient(90deg, rgba($color-grad2-end, 0.5) 0%, rgba($color-grad2-start, 0.5) 100%);
    padding: $padding;
    border-radius: 0 0 $card-b-radius $card-b-radius;
    backdrop-filter: blur(3px) brightness(1.5);
}

.button {
    position: relative;
    margin-top: auto !important;
    bottom: 0;
    width: calc(100% - $padding * 2);
    height: 75px;
    font-weight: 700;
    font-size: 28px;
}