@import "src/styles/theme.scss";

.earn {
    padding: $padding;
}

.link {
    text-decoration: none;
    color: $color-white;
}

.taskList {
    display: flex;
    gap: $padding-inner;
    flex-direction: column;
}

.earnMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $padding-inner;
}

.popup h2, .popup p {
    margin: 0;
}