@import "src/styles/theme.module.scss";

.home {
    position: relative;
    height: calc(100vh - $header-height);
}

.coco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: $tap-ring-diameter + $tap-ring-width * $tap-rings-number;
}

.footer {
    position: absolute;
    bottom: $menu-height + $menu-bottom + $padding;
    left: 0;
    right: 0;
    padding: $padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $padding;
}

.levelInfo {
    display: flex;
    min-width: 250px;
    flex-direction: column;
}

.levelInfo h3 {
    margin-bottom: $padding / 2;
    font-size: 18px;
}

.level {
    margin-top: $padding / 2;
    display: flex;
    justify-content: space-between;
}