@import "src/styles/theme";

$WEEKS: 3;
$card-week-height: 50px;

.week {
    width: 100% / $WEEKS;
    min-width: 100px;
    height: $card-week-height;
    // flex-direction: column;
    padding: $padding-inner / 2;
    justify-content: center;
}