@import "src/styles/theme.scss";

.main {
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  bottom: $menu-bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  padding: $padding-menu;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: calc(100% - $padding-menu * 2);
  background: $body-bg;
  justify-content: space-between;
  align-items: center;
  background-color: $color-menu;
  // max-width: 410px;
  // border: 1.5px solid $body-bg;
  // border-bottom: 2.5px solid $body-bg;
  border-radius: 10px;
  height: $menu-height;
  box-sizing: border-box;
}

.menu {
  user-select: none;
}
