@import "src/styles/theme.scss";

.main {
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  bottom: var(--menu-bottom);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  padding: var(--padding-menu-inner);;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: calc(100% - var(--padding-menu) * 2);
  background: var(--body-bg);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-menu);
  border-radius: 10px;
  height: var(--menu-height);
  box-sizing: border-box;
  max-width: calc($max-page-width - var(--padding-menu) * 2);
}

.menu {
  user-select: none;
}
