@import "src/styles/theme.scss";

.popupContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $padding;
  box-sizing: border-box;
  gap: $padding-inner;
}
