@import "src/styles/theme.module.scss";

.fixedWrapper {
    position: relative;
    height: 97px;
}

.main {
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $padding;
}

.back {
    order: -1;
}

.logo {
    margin: 0 auto;
}
