.button {
  height: 56px;
  width: 76px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 4px;
  border: solid 1.5px var(--color-menu);
}

.button.selected {
  background-color: var(--color-menu-active);
  border-color: var(--color-white);
}

.button p {
  margin: 0;
}

.button {
  text-decoration: none;
  color: var(--color-white);
}

.icon {
  height: 30px;
  width: auto;
  margin-bottom: 4px;
}
