.menu {
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  bottom: var(--menu-bottom);
  justify-content: center;
  padding: var(--padding-menu-inner);
  display: flex;
  flex-direction: row;
  gap: var(--padding-inner);
  width: calc(100% - var(--padding-menu) * 2);
  background: var(--body-bg);
  align-items: center;
  background-color: var(--color-menu);
  border-radius: var(--card-b-radius) var(--card-b-radius) 0 0;
  height: var(--menu-height);
  box-sizing: border-box;
  max-width: calc(var(--max-page-width) - var(--padding-menu) * 2);
  user-select: none;
}
