@use "sass:color";
/*
  This file contains all the theme variables.
  They are stored in sass variables, and are converted to css variables in globals.scss.
  You can use them both ways.
*/

// dimensions
$padding: 30px;
$padding-inner: 20px;
$padding-menu: 0px;
$padding-menu-inner: $padding $padding * 2;
$menu-bottom: 0px;
$menu-height: 83px;
$header-height: 0;
$padding-coin: 4px;
$max-page-width: 1024px;

// colors
$color-menu: #515172;
$color-menu-active: #8181b1;
$color-white: #fff;
$body-bg: #1e1e2b;
$color-purple-primary: #c7a0fd;
$color-primary: #9e71ff;
$color-secondary: #16cef6;

$color-grad-primary-start: $color-primary;
$color-grad-primary-mid: #5f9dfc;
$color-grad-primary-end: $color-secondary;
$color-grad-secondary-start: $color-primary;
$color-grad-secondary-end: #ff7999;

$gradient-primary: linear-gradient(
  93deg,
  $color-grad-primary-start 1.77%,
  $color-grad-primary-end 98.75%
);

$gradient-primary-rotated: linear-gradient(
  45deg,
  $color-grad-primary-start 1.77%,
  $color-grad-primary-end 98.75%
);

$gradient-primary-light: linear-gradient(
  93deg,
  color.adjust($color-grad-primary-start, $lightness: 5%) 1.77%,
  color.adjust($color-grad-primary-end, $lightness: 5%) 98.75%
);

$gradient-secondary: linear-gradient(
  152deg,
  $color-grad-secondary-start 31.93%,
  $color-grad-secondary-end 97.94%
);
$gradient-secondary-light: linear-gradient(
  152deg,
  color.adjust($color-grad-secondary-start, $lightness: 5%) 31.93%,
  color.adjust($color-grad-secondary-end, $lightness: 5%) 97.94%
);

// other
$popup-b-radius: 15px 15px 0 0;

// Home page specific
$tap-ring-diameter: 75vw;
$tap-ring-diameter-max: 360px;
$tap-ring-width: 10px;
$tap-ring1-color: #88d912;
$tap-ring2-color: #cdff83;
$tap-ring3-color: #f5ffe7;
$tap-ring-scale: calc(1.03); // 1 + scale width in pixels / diameter
$tap-rings-number: 2; // number of rings, used only in tap height calculation
$tap-transition-time: 0.05s;
$coco-size: 50%;
$coco-size-max: 239px;
$tap-coin-size: 24px;

// Cards specific
$card-bg-color: $color-menu;
$card-bg-color-active: color.adjust($card-bg-color, $lightness: 10%);
$card-b-radius: 15px;
$card-border: 0px solid #fff;
$card-gradient: $gradient-primary;
$card-gradient-active: $gradient-primary-light;
$card-bg: $gradient-primary;
$card-gradient-secondary: $gradient-secondary;
$card-gradient-secondary-active: $gradient-secondary-light;
$card-height: 64px;

// Build page specific
$build-card-height: $card-height;

// buttons
$color-button-primary: $color-primary;
$color-button-primary-active: color.adjust(
  $color-button-primary,
  $lightness: 10%
);
$color-button-secondary: $color-secondary;
$color-button-secondary-active: color.adjust(
  $color-button-secondary,
  $lightness: 10%
);
$color-button-gradient: $gradient-primary;
$color-button-gradient-active: $gradient-primary-light;
$button-b-radius: 8px;
$button-height: 64px;

// Friends page specific
$friend-card-height: 75px;
